
<div *ngIf="profesor">
    <h2><span jhiTranslate="pruebaJHipster2App.profesor.detail.title">Profesor</span> {{profesor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pruebaJHipster2App.profesor.nombreProfe">Nombre Profe</span></dt>
        <dd>
            <span>{{profesor.nombreProfe}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'profesor/'+ profesor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
