<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonaLabel" jhiTranslate="pruebaJHipster2App.persona.home.createOrEditLabel">Create or edit a Persona</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!persona.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="persona.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.persona.idPersona" for="field_idPersona">Id Persona</label>
            <input type="number" class="form-control" name="idPersona" id="field_idPersona"
                [(ngModel)]="persona.idPersona" required />
            <div [hidden]="!(editForm.controls.idPersona?.dirty && editForm.controls.idPersona?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idPersona?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idPersona?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.persona.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="persona.nombre" required />
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.persona.apaterno" for="field_apaterno">Apaterno</label>
            <input type="text" class="form-control" name="apaterno" id="field_apaterno"
                [(ngModel)]="persona.apaterno" required />
            <div [hidden]="!(editForm.controls.apaterno?.dirty && editForm.controls.apaterno?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apaterno?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.persona.amaterno" for="field_amaterno">Amaterno</label>
            <input type="text" class="form-control" name="amaterno" id="field_amaterno"
                [(ngModel)]="persona.amaterno" required />
            <div [hidden]="!(editForm.controls.amaterno?.dirty && editForm.controls.amaterno?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amaterno?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.persona.edad" for="field_edad">Edad</label>
            <input type="number" class="form-control" name="edad" id="field_edad"
                [(ngModel)]="persona.edad" required />
            <div [hidden]="!(editForm.controls.edad?.dirty && editForm.controls.edad?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.edad?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.edad?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
