<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMateriaLabel" jhiTranslate="pruebaJHipster2App.materia.home.createOrEditLabel">Create or edit a Materia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!materia.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="materia.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.materia.nombreMateria" for="field_nombreMateria">Nombre Materia</label>
            <input type="text" class="form-control" name="nombreMateria" id="field_nombreMateria"
                [(ngModel)]="materia.nombreMateria" required />
            <div [hidden]="!(editForm.controls.nombreMateria?.dirty && editForm.controls.nombreMateria?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreMateria?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.materia.alumno" for="field_alumno">Alumno</label>
            <select class="form-control" id="field_alumno" name="alumno" [(ngModel)]="materia.alumno" >
                <option [ngValue]="null"></option>
                <option [ngValue]="alumnoOption.id === materia.alumno?.id ? materia.alumno : alumnoOption" *ngFor="let alumnoOption of alumnos; trackBy: trackAlumnoById">{{alumnoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pruebaJHipster2App.materia.profesor" for="field_profesor">Profesor</label>
            <select class="form-control" id="field_profesor" name="profesor" [(ngModel)]="materia.profesor" required>
                <option *ngIf="!editForm.value.profesor" [ngValue]="null" selected></option>
                <option [ngValue]="profesorOption.id === materia.profesor?.id ? materia.profesor : profesorOption" *ngFor="let profesorOption of profesors; trackBy: trackProfesorById">{{profesorOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.profesor?.dirty && editForm.controls.profesor?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.profesor?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
